@import "../../variables.scss";

.barchart-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > .percent {
    color: $text-default;
    font-size: 24px;
    font-weight: bold;

    & > .unit {
      font-size: 16px;
    }
  }

  .barchart {
    margin-top: 12px;
    width: 100%;
    height: 12px;
    overflow: hidden;
    border-radius: 8px;
    display: flex;

    .type-o {
      width: 80%;
      background-color: $main-green;
    }
    .type-x {
      width: 20%;
      background-color: $main-pink;
    }
  }
}
