* {
  box-sizing: border-box;
  margin: 0;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
*::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

html {
  display: flex;
  justify-content: center;
}

html,
body {
  height: 100vh;
  height: -webkit-fill-available;
  height: fill-available;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // border: 4px solid gray;
  width: 100%;
}

#root {
  height: 100%;
}

@media screen and (min-width: 1024px) {
  body {
    width: 1020px;
  }
}

@media screen and (max-width: 320px) {
  body {
    min-width: 320px;
    background-color: rgb(133, 167, 168);
  }
}
